@model CarExpertise.Models.CombinedList


@{
    int currentUserCompanyId = ViewBag.CurrentUserCompanyId ?? 0;

    // Geçerli haftanın başlangıç ve bitiş tarihlerini hesapla
    DateTime startOfWeek = DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday);
    DateTime endOfWeek = startOfWeek.AddDays(7).AddTicks(-1);

    // Haftalık ekspertiz sayısını hesapla
    int haftalikEkspertiz = Model.ExpertiseList.Count(d => d.Tarih >= startOfWeek && d.Tarih <= endOfWeek && d.CompanyId == currentUserCompanyId);

    // Haftalık ücret hesaplama
    int haftalikUcret = Model.ExpertiseList.Where(d => d.Tarih >= startOfWeek && d.Tarih <= endOfWeek && d.CompanyId == currentUserCompanyId).Sum(d => d.Ucret ?? 0);

    // Geçerli ayın başlangıç ve bitiş tarihlerini hesapla
    DateTime startOfMonth = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1);
    DateTime endOfMonth = startOfMonth.AddMonths(1).AddDays(-1);

    // Aylık ekspertiz sayısını hesapla
    int aylikEkspertiz = Model.ExpertiseList.Count(d => d.Tarih >= startOfMonth && d.Tarih <= endOfMonth && d.CompanyId == currentUserCompanyId);


    // Geçerli yılın başlangıç ve bitiş tarihlerini hesapla
    DateTime startOfYear = new DateTime(DateTime.Today.Year, 1, 1);
    DateTime endOfYear = startOfYear.AddYears(1).AddDays(-1);

    // Yıllık ekspertiz sayısını hesapla
    int yillikEkspertiz = Model.ExpertiseList.Count(d => d.Tarih >= startOfYear && d.Tarih <= endOfYear && d.CompanyId == currentUserCompanyId);
}



<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS dosyasını ekleyin -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .custom-card {
            margin-left: -70px; /* Kartı sola kaydırmak için sol boşluk ayarı */
            margin-top: 30px; /* Kartın üstüne boşluk eklemek için üst boşluk ayarı */
        }

        .custom-card-1 {
            margin-left: -50px; /* Kartı sola kaydırmak için sol boşluk ayarı */
            margin-top: 30px; /* Kartın üstüne boşluk eklemek için üst boşluk ayarı */
        }

        .custom-card-2 {
            margin-left: -30px; /* Kartı sola kaydırmak için sol boşluk ayarı */
            margin-top: 30px; /* Kartın üstüne boşluk eklemek için üst boşluk ayarı */
        }

        .custom-card-3 {
            margin-left: -5px; /* Kartı sola kaydırmak için sol boşluk ayarı */
            margin-top: 30px; /* Kartın üstüne boşluk eklemek için üst boşluk ayarı */
        }

        .table {
            margin-left: -70px; /* Tablonun sol kenar boşluğunu sıfıra ayarlar */
        }

        .table-container {
            margin-top: 200px; /* Tabloyu 20 piksel aşağıya doğru iteler */
        }

            .table-container h2 {
                position: relative;
                left: -70px; /* İstediğiniz miktarda piksel değerini buraya girin */
            }

        .confirm-box {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            z-index: 1000;
            display: none; /* Başlangıçta gizli tut */
        }

            .confirm-box p {
                font-size: 18px;
                margin-bottom: 20px;
            }

        .confirm-buttons {
            text-align: center;
        }

            .confirm-buttons button {
                margin: 0 10px;
                padding: 8px 20px;
                border: none;
                cursor: pointer;
            }

        .search-input {
            padding: 8px 12px;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-size: 16px;
            position: relative; /* Relative pozisyonlandırma */
            left: -200px; /* Butonu sağa ötele */
            top: 20px;
        }

        .table-container {
            position: relative;
            width: 100%;
        }

            .table-container h2 {
                margin: 0;
                padding: 0;
                display: inline-block;
            }

            .table-container form {
                display: inline-block;
                float: right;
                margin-top: -4px; /* Adjust if needed to align vertically with h2 */
            }

        .header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: -20px; /* Alt boşluk */
            margin-left: -67px; /* Sol tarafa biraz boşluk eklemek için */
        }

        .alert {
            margin-right: auto; /* Sol tarafa hizalamak için */
        }

        .search-form {
            display: flex;
            align-items: center;
        }

        .custom-button {
            background-color: white;
            color: #150869;
            border: 2px solid #150869;
            padding: 5px 10px; /* Buton içi boşluk */
            font-size: 16px;
            border-radius: 5px; /* Köşeleri yuvarlatmak için */
            cursor: pointer; /* Buton efekti için */
            text-align: center;
            text-decoration: none; /* Link ise alt çizgiyi kaldırmak için */
            display: inline-block; /* Buton efekti için */
            font-weight: bold; /* Yazıyı kalın yapmak için */
            margin-left: 30px; /* Buton ile input arası boşluk */
            position: relative; /* Butonun konumunu ayarlamak için */
            top: -15px; /* Butonu yukarı ötelemek için */
        }

            .custom-button:hover {
                background-color: #150869; /* Üzerine gelindiğinde arka plan rengini değiştirme */
                color: white; /* Üzerine gelindiğinde yazı rengini değiştirme */
            }

        .edit-button {
            position: relative; /* Relative pozisyonlandırma */
            left: -70px; /* Butonu sağa ötele */
        }

        .delete-button {
            position: relative; /* Relative pozisyonlandırma */
            left: -45px; /* Butonu sağa ötele */
        }
        .float-right {
            float: right;
            margin-right: 70px; /* Butonu biraz içeri almak isterseniz */
        }
       
      

    </style>
</head>
<body>


    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Silme Onayı</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bu müşteriyi silmek istediğinizden emin misiniz?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Evet</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hayır</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="card text-bg-light mb-3 custom-card" style="max-width: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Haftalık Ekspertiz</h5>
                    <p class="card-text" style="font-size: 35px; font-weight: bold;">@haftalikEkspertiz</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-light mb-3 custom-card-1" style="max-width: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Aylık Ekspertiz</h5>
                    <p class="card-text" style="font-size: 35px; font-weight: bold;">@aylikEkspertiz</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-light mb-3 custom-card-2" style="max-width: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Yıllık Ekspertiz</h5>
                    <p class="card-text" style="font-size: 35px; font-weight: bold;">@yillikEkspertiz</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-light mb-3 custom-card-3" style="max-width: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Haftalık Ücret</h5>
                    <p class="card-text" style="font-size: 35px; font-weight: bold;">@haftalikUcret tl</p>
                </div>
            </div>
        </div>
    </div>
    <div class="table-container card-custom">
        <h2 style="font-size: 24px; font-weight: bold;">Müşteri Bilgileri</h2>
        <div class="header-container">
            <div class="alert alert-info" role="alert">
                Müşterinin adı, telefon numarası veya araç bilgileri ile arama yapabilirsiniz.
            </div>
            <form action="/Customer/Arat" method="post" class="search-form">
                <input name="search" type="text" placeholder="Araç ara" class="search-input form-control">
                <button type="submit" class="custom-button">Arat</button>
            </form>
        </div>

        <div class="mb-3"></div>
        <table class="table table-custom">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Müşteri Adı</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Mail</th>
                    <th scope="col"></th> <!-- Boş bir hücre ekleyerek butonu sağa yaslayacağız -->
                    <th scope="col"></th> <!-- Boş bir hücre ekleyerek butonu sağa yaslayacağız -->
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CustomerList)
            {
                <tr>
                    <td>
                        <i class="fas fa-check-circle"></i>
                    </td>
                    <td>@item.MusteriAd</td>
                    <td>@item.Telefon</td>
                    <td>@item.Email</td>
                    <td>
                        <!-- Kırmızı renkte küçük buton -->
                        <button onclick="applyGetCustomerId(@item.Id)" type="button" class="btn btn-primary sablon float-right">Düzenle</button>
                    </td>
                    <td>
                        <!-- Kırmızı renkte küçük buton -->
                        <form action="/Customer/DeleteCustomer" method="post" class="confirm-delete-form">
                            <input type="hidden" value="@item.Id" name="id">
                            <button type="button" class="btn btn-danger delete-button" data-toggle="modal" data-target="#confirmDeleteModal">Sil</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>




    <script>
        function applyGetCustomerId(customerId) {
            window.location.href = '/Customer/EditCustomer?customerId=' + customerId;
        }


        $(document).ready(function () {
            var formToSubmit;

            $('.delete-button').on('click', function () {
                formToSubmit = $(this).closest('form');
                $('#confirmDeleteModal').modal('show');
            });

            $('#confirmDeleteButton').on('click', function () {
                formToSubmit.submit();
            });
        });



        function sendExperiseId(expertiseId) {
            window.location.href = '/Customer/Deneme?expertiseId=' + expertiseId;
        }



        function showConfirmation() {
            document.getElementById('confirmBox').style.display = 'block';
        }

        function hideConfirmation() {
            document.getElementById('confirmBox').style.display = 'none';
        }

        document.getElementById('confirmYes').addEventListener('click', function () {
            document.querySelector('.confirm-delete-form').submit();
        });
    </script>



</body>
</html>
